<template name="main_navbar">
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Sparklin</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        {{#if currentUser}}
          <a class="nav-link logout" href="/" id="logout-link"><i class="fa fa-sign-out"></i>Sign out</a>
        {{else}}
        <a class="" href="/" id="login-link"><i class="fa fa-sign-in"></i></a>
        {{/if}}

      </li>
    </ul>
  </nav>

</template>
